.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: all 0.3s;
}

.sidebarOption--active {
    color: var(--twitter-color);
}

.sidebarOption__icon {
    padding: 20px;

}

.sidebarOption__text {
    font-weight: 800;

}